In [1]:
import time
from IPython.utils import io
from pyspark.sql import SparkSession
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable


start_time = time.time()

# Initialize SparkSession
spark = SparkSession.builder \
    .config("spark.executor.memory", "2G") \
    .config("spark.driver.memory", "10G") \
    .config("spark.driver.maxResultSize", "5G") \
    .appName("Create Database from Parquet") \
    .getOrCreate()

# Create a database
spark.sql("CREATE DATABASE IF NOT EXISTS population")

# Select the database
spark.sql("USE population")

# Save DataFrame as a table in the database
spark.sql("CREATE TABLE IF NOT EXISTS population_data USING parquet OPTIONS (PATH 'C:/Users/jose/OneDrive - Dublin Business School (DBS)/Desktop/CA1_Integrated_Assesment_MSc_Data_Analytics_CCT_Semester_2/parquet')")

DataFrame[]

In [2]:
end_time = time.time()
execution_time = end_time - start_time

# Convert execution time to minutes and seconds
minutes = int(execution_time // 60)
seconds = int(execution_time % 60)

print(f"Total execution time: {minutes} minutes {seconds} seconds")

Total execution time: 0 minutes 5 seconds

## Table Check:

In [3]:
# Show tables in the current schema
spark.sql("SHOW TABLES").show()

+----------+---------------+-----------+
| namespace|      tableName|isTemporary|
+----------+---------------+-----------+
|population|population_data|      false|
+----------+---------------+-----------+

In [4]:
# Use the database
spark.sql("USE population")

# Query the data from the table
result = spark.sql("SELECT * FROM population_data")

# Show the result
result.show()

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|        User_Id|First_Name|Last_Name|   Sex|               Email|               Phone|Date_of_birth|           Job_Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|4defE49671cF860|    Sydney|  Shannon|  Male|   tvang@example.net|   574-440-1423x9799|   2020-07-09|    Technical brewer|
|    2|F89B87bCf8f210b|    Regina|      Lin|  Male| helen14@example.net|001-273-664-2268x...|   1909-06-20|Teacher, adult ed...|
|    3|Cad6052BDd5DEaf|    Pamela|    Blake|Female| brent05@example.org|  927-880-5785x85266|   1964-08-19|Armed forces oper...|
|    4|e83E46f80f629CD|      Dave|  Hoffman|Female|munozcraig@exampl...|001-147-429-8340x608|   2009-02-19|         Ship broker|
|    5|60AAc4DcaBcE3b6|       Ian|   Campos|Female|brownevelyn@examp...|        166-126-4390|   1997-10-02|       Media planner|
|    6|7ACb92d81A42fdf|   Valerie|    Patel|  Male|muellerjoel@examp...|001-379-612-1298x853|   2021-04-07| Engineer, materials|
|    7|A00bacC18101d37|       Dan| Castillo|Female|billmoody@example...| (448)494-0852x63243|   1975-04-09|Historic building...|
|    8|B012698Cf31cfec|   Clinton|  Cochran|  Male| glenn94@example.org|          4425100065|   1966-07-19|    Engineer, mining|
|    9|a5bd11BD7dA1a4B| Gabriella|  Richard|Female|   blane@example.org|   352.362.4148x8344|   2021-09-02|  Wellsite geologist|
|   10|9540a6df05eF6cf|     James|   Bailey|  Male|pittmanterrence@e...|  (629)632-4570x1832|   1963-05-13|    Graphic designer|
|   11|f967B4EcdF6B227|    Shelby|   Norton|  Male| acannon@example.net| (164)034-4347x22022|   2009-08-19|     Engineer, water|
|   12|326C83BbeC1BCFd|  Jennifer|     Lara|Female|davilacassidy@exa...| +1-915-351-2636x083|   1962-03-29|     Product manager|
|   13|d9dfB09F01e16EB|    Howard|  Sanders|Female|brucejoanna@examp...|001-931-852-5157x...|   1912-07-12|        Web designer|
|   14|1E5b00F6AC95FD8|  Stefanie|   Dorsey|Female|  xcrane@example.net|        266-633-2107|   1988-04-19|           Homeopath|
|   15|1cfc2eDd75cfB01|     Wyatt|      Ali|  Male|lawrenceluke@exam...|+1-204-855-1654x3158|   1952-04-16|Scientist, audiol...|
|   16|c85FcEDF4D7dCA5|   Jasmine|  Wheeler|  Male|xmontgomery@examp...|   044-808-5012x5663|   1912-08-13|Manufacturing sys...|
|   17|AD2Cd35dCaeD2AB|    Arthur|     Hart|  Male| blittle@example.net|  712-978-1974x94056|   1939-02-16|Race relations of...|
|   18|Ca217c22e3fEf2c|    Brandy| Shepherd|Female| ralph98@example.com|+1-324-844-1260x2...|   1911-08-29|       Administrator|
|   19|DDFea9C0D3b8Bda|      Leon|     Todd|  Male|zhenderson@exampl...|   664-084-9864x4425|   2011-12-24|Armed forces oper...|
|   20|eeed253bcc5d02F|    Stacey|  Skinner|Female| paula37@example.com|   026-376-9429x6935|   1916-10-15|Psychologist, cou...|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [5]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "false")
spark.conf.set("spark.sql.execution.arrow.enabled", "false")

In [6]:
from pyspark.sql import *  
from pyspark.sql.functions import *  
from pyspark.sql.types import *  
import numpy as np    
import pandas as pd
start_time = time.time()


reviews_pandas_df= result.select("*").toPandas()
end_time = time.time()
execution_time = end_time - start_time

# Convert execution time to minutes and seconds
minutes = int(execution_time // 60)
seconds = int(execution_time % 60)

print(f"Total execution time: {minutes} minutes {seconds} seconds")

Total execution time: 4 minutes 38 seconds

In [7]:
reviews_pandas_df

,Index,User_Id,First_Name,Last_Name,Sex,Email,Phone,Date_of_birth,Job_Title
0,1,4defE49671cF860,Sydney,Shannon,Male,tvang@example.net,574-440-1423x9799,2020-07-09,Technical brewer
1,2,F89B87bCf8f210b,Regina,Lin,Male,helen14@example.net,001-273-664-2268x90121,1909-06-20,"Teacher, adult education"
2,3,Cad6052BDd5DEaf,Pamela,Blake,Female,brent05@example.org,927-880-5785x85266,1964-08-19,Armed forces operational officer
3,4,e83E46f80f629CD,Dave,Hoffman,Female,munozcraig@example.org,001-147-429-8340x608,2009-02-19,Ship broker
4,5,60AAc4DcaBcE3b6,Ian,Campos,Female,brownevelyn@example.net,166-126-4390,1997-10-02,Media planner
...,...,...,...,...,...,...,...,...,...
11999995,1999996,AbBE4F3Eb5df843,Susan,Ellison,Male,yward@example.net,855.222.4135x62040,1913-01-05,Research scientist (maths)
11999996,1999997,e71af3E8De63CDF,Cole,Sherman,Female,nbarnett@example.org,(130)829-9159x800,1977-04-15,Marketing executive
11999997,1999998,fAF0618097acD1B,Ethan,Leonard,Male,brett57@example.com,514.898.2376x3069,1960-08-14,Photographer
11999998,1999999,f1FC3346F68DFAb,Jordan,Waller,Female,harveykendra@example.com,6920274656,1911-09-05,Chartered accountant
11999999,2000000,B04Bb8bE7DA70ba,Shelley,Meza,Female,gamblejohnny@example.net,+1-765-874-1874,1961-11-30,Printmaker

In [8]:
# Stop SparkSession
spark.stop()