In [1]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Create Database from Parquet") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

# Create a database
spark.sql("CREATE DATABASE IF NOT EXISTS goodreads_reviews")

# Select the database
spark.sql("USE goodreads_reviews")

# Save DataFrame as a table in the database
#spark.sql("CREATE TABLE IF NOT EXISTS reviews USING parquet OPTIONS (PATH 'C:/Users/jose/Downloads/goodreads_reviews_parquet')")

# Save DataFrame as a table in the database
spark.sql("CREATE TABLE IF NOT EXISTS reviews USING parquet OPTIONS (PATH 'C:/Users/jose/OneDrive - Dublin Business School (DBS)/Desktop/CA1_Integrated_Assesment_MSc_Data_Analytics_CCT_Semester_2/parquet')")

DataFrame[]

## Table Check:

In [2]:
# Show tables in the current schema
spark.sql("SHOW TABLES").show()

+-----------------+---------+-----------+
|        namespace|tableName|isTemporary|
+-----------------+---------+-----------+
|goodreads_reviews|  reviews|      false|
+-----------------+---------+-----------+

In [3]:
# Use the database
spark.sql("USE goodreads_reviews")

# Query the data from the table
result = spark.sql("SELECT * FROM reviews")

# Show the result
result.show()

+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer_Id|First_Name|Last_Name|             Company|             City|             Country|             Phone_1|             Phone_2|               Email|Subscription_Date|             Website|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|4962fdbE6Bfee6D|       Pam|   Sparks|        Patel-Deleon|       Blakemouth|British Indian Oc...|    267-243-9490x035|    480-078-0535x889|nicolas00@faulkne...|       2020-11-29| https://nelson.com/|
|    2|9b12Ae76fdBc9bE|      Gina|    Rocha|Acosta, Paul and ...| East Lynnchester|          Costa Rica|        027.142.0940|+1-752-593-4777x0...|  yfarley@morgan.com|       2021-01-03|https://pineda-ro...|
|    3|39edFd2F60C85BC|   Kristie|    Greer|           Ochoa PLC|      West Pamela|             Ecuador|+1-049-168-7497x5053|     +1-311-216-7855|jennyhayden@petty...|       2021-06-20|https://mckinney....|
|    4|Fa42AE6a9aD39cE|    Arthur|   Fields|          Moyer-Wang|     East Belinda|         Afghanistan|001-653-754-7486x...|    521-630-3858x953|igrimes@ruiz-todd...|       2020-02-13|https://dominguez...|
|    5|F5702Edae925F1D|  Michelle|  Blevins|       Shah and Sons|       West Jared|    Marshall Islands|          8735278329|   (633)283-6034x500|diamondcarter@jor...|       2020-10-20|http://murillo-ry...|
|    6|9FBfbd34c3f30d9|      Greg|   Rivers|Hendrix, Arias an...|   New Pedrohaven|             Senegal|          2382697028|        822-449-7638|mannkiara@bowman.com|       2020-02-19|https://www.richa...|
|    7|D31D38D576aB1Bf|     Brian|   Brandt|Reed, Wiley and O...|         Rayville|    Marshall Islands|    608.531.0005x630|   926-957-7052x6181|dlynn@palmer-morg...|       2020-03-31|https://www.washi...|
|    8|3C3B8bee16BcC5F|    Dennis|  Pacheco|     Contreras-Brock|South Eugenehaven|           Sri Lanka|     +1-391-505-2358|        076.454.1128|    joy45@conner.org|       2021-03-20|http://www.armstr...|
|    9|7C1C93522Bd5e4B|     Malik|   Rivers|Best, Washington ...|        Mejiastad|   Wallis and Futuna|001-366-285-9819x...|   852.896.9192x3681|stacydavis@spence...|       2020-01-16| https://watson.com/|
|   10|bABC8cBffe68792|    Hayden|   Riddle|         Rogers-Dean|     Kaitlynmouth|            Cameroon|  951.359.7028x94651|        931.227.4541| danhouston@moon.net|       2022-05-18|https://www.farle...|
|   11|534a2B5FE8Aba5d|    Edward|     Wood|Mckee, Schneider ...|       Kelseystad|             Croatia|  (932)069-3090x0566|    037-375-9588x561|batesbill@jensen.net|       2020-05-22| http://alvarez.com/|
|   12|4baa94d4FaEbe9d|     Julie|    Stein|           Fry Group|  South Frankside|               Macao| +1-918-017-3392x459|        500-005-1315|sherry62@robinson...|       2020-01-17|https://carlson-j...|
|   13|Fc2c8D2BE1AEfDb|  Kristina|  Andrade|            Mann Ltd|     Port Taraton|    Pitcairn Islands| (640)067-7023x66846|001-367-405-8096x592|ivillarreal@fowle...|       2020-09-11|  https://foley.com/|
|   14|9468BBc926AaAB3|       Zoe|   Hansen|          Tanner PLC|     Kimberlyfort|               Benin|   638-798-9796x0247|  (265)475-2386x9812|duransheena@hughe...|       2021-10-09|https://franco-ga...|
|   15|BE96AcDDCc77da0|    Joseph|  Bennett|      Stafford Group|      Port Mathew|                Peru|+1-597-363-0416x6579|    900.196.1169x767|albertparsons@she...|       2020-04-29|https://howard-bo...|
|   16|A24E162EBb6D97B|    Vickie| Ferguson|        Ward-Ferrell|        Carlyport|             Tunisia|       (351)349-8170|+1-943-399-6212x1474|    rita82@carey.com|       2021-04-16|https://ashley-on...|
|   17|f1a979d0Ed2dB14|    Dillon|     Frye|         Short-Novak|  Lake Kendraview|            Colombia|     +1-003-466-7005|001-253-461-6631x...|housegreg@dillon.com|       2021-11-29|http://www.young....|
|   18|dCBC761B59e4EFB|     Grace|    Logan|    Ellis-Williamson|     Rochaborough|               Kenya|          1744624651|  166-747-2389x97375|jodyeverett@potte...|       2020-02-11|https://www.knapp...|
|   19|d0e6bb354BAeEEd|      Sara|   Dudley|          Coffey Ltd|    Lake Davestad|            Guernsey|        921.993.4487|   (812)799-2828x896|    beth75@noble.com|       2021-10-16|https://padilla.i...|
|   20|8Ace2d52a65faA6|    Philip| Andersen|Hays, Shea and Ng...|       Devonburgh|             Morocco|001-820-882-1469x...|   (813)152-5505x275|reginaldavila@sta...|       2020-02-04|http://patton-pin...|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

## Passing *Spark*  `result` into a pandas dataframe for modelling, first we will drop some columns to avoid the error:
## ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it.

In [4]:
# Assuming df is your Spark DataFrame
columns_to_drop = ["date_added", "date_updated","n_comments","n_votes","review_id","started_at","read_at"]  # List of columns to drop

# Drop the specified columns
result = result.drop(*columns_to_drop)

# Show the result
result.show()

+--------+------+--------------------+--------------------+
| book_id|rating|         review_text|             user_id|
+--------+------+--------------------+--------------------+
|25913122|     4|Compre este libro...|2ce9cf233c1503ed5...|
|27823971|     3|No puedo ser impa...|2ce9cf233c1503ed5...|
|25796670|     2|Habia desistido d...|2ce9cf233c1503ed5...|
|25778324|     5|Llegue a este lib...|2ce9cf233c1503ed5...|
|18712886|     2|Confieso desde un...|2ce9cf233c1503ed5...|
|28963557|     5|           Perfecto.|2ce9cf233c1503ed5...|
|25469092|     4|Aunque me gusto m...|2ce9cf233c1503ed5...|
|22037944|     4|Que dificil es re...|2ce9cf233c1503ed5...|
|18499402|     4|Quise leer este l...|2ce9cf233c1503ed5...|
|26798985|     4|En la resena ante...|2ce9cf233c1503ed5...|
|25432891|     4|Bueno, voy a ser ...|2ce9cf233c1503ed5...|
| 3373897|     2|Estuvo bien, pero...|2ce9cf233c1503ed5...|
|16080337|     4|Cuando vi este li...|2ce9cf233c1503ed5...|
|18076991|     4|I liked this one ...|2ce9cf233c1503ed5...|
|18483104|     3|This a well-writt...|2ce9cf233c1503ed5...|
|20560907|     3|Es un 2,5. Es poc...|2ce9cf233c1503ed5...|
|17661625|     4|Tenia que leer es...|2ce9cf233c1503ed5...|
|20613470|     5|Quise empezar a e...|2ce9cf233c1503ed5...|
|22037901|     5|Ah, ah, ah. Demor...|2ce9cf233c1503ed5...|
|13266803|     5|Bueno, vengo prim...|2ce9cf233c1503ed5...|
+--------+------+--------------------+--------------------+
only showing top 20 rows

In [5]:
from pyspark.sql import *  
from pyspark.sql.functions import *  
from pyspark.sql.types import *  
import numpy as np    
import pandas as pd


reviews_pandas_df= result.select("*").toPandas()

Py4JJavaError: An error occurred while calling o56.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 5 in stage 3.0 failed 1 times, most recent failure: Lost task 5.0 in stage 3.0 (TID 8) (DESKTOP-IK25UHA executor driver): TaskResultLost (result lost from block manager)
Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1049)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1048)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:448)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:4148)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:4145)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [6]:
# Assuming df is your Spark DataFrame
columns_to_drop = ["review_text"]  # List of columns to drop

# Drop the specified columns
result = result.drop(*columns_to_drop)

# Show the result
result.show()

+--------+------+--------------------+
| book_id|rating|             user_id|
+--------+------+--------------------+
|25913122|     4|2ce9cf233c1503ed5...|
|27823971|     3|2ce9cf233c1503ed5...|
|25796670|     2|2ce9cf233c1503ed5...|
|25778324|     5|2ce9cf233c1503ed5...|
|18712886|     2|2ce9cf233c1503ed5...|
|28963557|     5|2ce9cf233c1503ed5...|
|25469092|     4|2ce9cf233c1503ed5...|
|22037944|     4|2ce9cf233c1503ed5...|
|18499402|     4|2ce9cf233c1503ed5...|
|26798985|     4|2ce9cf233c1503ed5...|
|25432891|     4|2ce9cf233c1503ed5...|
| 3373897|     2|2ce9cf233c1503ed5...|
|16080337|     4|2ce9cf233c1503ed5...|
|18076991|     4|2ce9cf233c1503ed5...|
|18483104|     3|2ce9cf233c1503ed5...|
|20560907|     3|2ce9cf233c1503ed5...|
|17661625|     4|2ce9cf233c1503ed5...|
|20613470|     5|2ce9cf233c1503ed5...|
|22037901|     5|2ce9cf233c1503ed5...|
|13266803|     5|2ce9cf233c1503ed5...|
+--------+------+--------------------+
only showing top 20 rows

In [7]:
from pyspark.sql import *  
from pyspark.sql.functions import *  
from pyspark.sql.types import *  
import numpy as np    
import pandas as pd


reviews_pandas_df= result.select("*").toPandas()

In [8]:
reviews_pandas_df

          book_id  rating                           user_id
0        25913122       4  2ce9cf233c1503ed57866e80ec4d060c
1        27823971       3  2ce9cf233c1503ed57866e80ec4d060c
2        25796670       2  2ce9cf233c1503ed57866e80ec4d060c
3        25778324       5  2ce9cf233c1503ed57866e80ec4d060c
4        18712886       2  2ce9cf233c1503ed57866e80ec4d060c
...           ...     ...                               ...
3424636      5907       5  9a1e8a72fadaa8f3038aa783114e12cc
3424637   6137154       5  a13e16a58266ffa4a0851c417c4cda8f
3424638     41804       4  007c41115862813421ff17dde43728b3
3424639  14740456       4  fc5aea6994fc754daefa27cbea10ac79
3424640   1656001       4  d0f6d1a4edcab80a6010cfcfeda4999f

[3424641 rows x 3 columns]

In [9]:
# Stop SparkSession
spark.stop()