In [19]:
import time
from IPython.utils import io
import pandas as pd
start_time = time.time()

# Replace 'file_path' with the path to your CSV file
file_path = "C:/Users/jose/Downloads/people.csv"

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,4defE49671cF860,Sydney,Shannon,Male,tvang@example.net,574-440-1423x9799,2020-07-09,Technical brewer
1,2,F89B87bCf8f210b,Regina,Lin,Male,helen14@example.net,001-273-664-2268x90121,1909-06-20,"Teacher, adult education"
2,3,Cad6052BDd5DEaf,Pamela,Blake,Female,brent05@example.org,927-880-5785x85266,1964-08-19,Armed forces operational officer
3,4,e83E46f80f629CD,Dave,Hoffman,Female,munozcraig@example.org,001-147-429-8340x608,2009-02-19,Ship broker
4,5,60AAc4DcaBcE3b6,Ian,Campos,Female,brownevelyn@example.net,166-126-4390,1997-10-02,Media planner

In [20]:
from datetime import datetime

# Assuming 'Date of birth' is in YYYY-MM-DD format
df['Date of birth'] = pd.to_datetime(df['Date of birth'])
df['Age'] = df['Date of birth'].apply(lambda x: datetime.now().year - x.year)

# Now you have an 'Age' feature that you can use alongside 'Job Title Encoded'

In [29]:
df.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Age
0,1,4defE49671cF860,Sydney,Shannon,Male,tvang@example.net,574-440-1423x9799,2020-07-09,Technical brewer,4
1,2,F89B87bCf8f210b,Regina,Lin,Male,helen14@example.net,001-273-664-2268x90121,1909-06-20,"Teacher, adult education",115
2,3,Cad6052BDd5DEaf,Pamela,Blake,Female,brent05@example.org,927-880-5785x85266,1964-08-19,Armed forces operational officer,60
3,4,e83E46f80f629CD,Dave,Hoffman,Female,munozcraig@example.org,001-147-429-8340x608,2009-02-19,Ship broker,15
4,5,60AAc4DcaBcE3b6,Ian,Campos,Female,brownevelyn@example.net,166-126-4390,1997-10-02,Media planner,27

In [24]:
df1 = df.copy()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   Index          int64
 1   User Id        object
 2   First Name     object
 3   Last Name      object
 4   Sex            object
 5   Email          object
 6   Phone          object
 7   Date of birth  object
 8   Job Title      object
dtypes: int64(1), object(8)
memory usage: 137.3+ MB

In [26]:
import pandas as pd

def count_genders(df, gender_column='Sex'):
    """
    Count the number of males and females in a pandas DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame containing the gender data.
    gender_column (str): The name of the column containing gender information.

    Returns:
    dict: A dictionary with counts for 'Male' and 'Female'.
    """
    gender_counts = df[gender_column].value_counts()
    return gender_counts.to_dict()

# Assuming 'df' is your DataFrame
# Here's how you would use the function:
gender_counts = count_genders(df)
print(gender_counts)

{'Female': 1000505, 'Male': 999495}

In [9]:
df.head(20)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,4defE49671cF860,Sydney,Shannon,Male,tvang@example.net,574-440-1423x9799,2020-07-09,Technical brewer
1,2,F89B87bCf8f210b,Regina,Lin,Male,helen14@example.net,001-273-664-2268x90121,1909-06-20,"Teacher, adult education"
2,3,Cad6052BDd5DEaf,Pamela,Blake,Female,brent05@example.org,927-880-5785x85266,1964-08-19,Armed forces operational officer
3,4,e83E46f80f629CD,Dave,Hoffman,Female,munozcraig@example.org,001-147-429-8340x608,2009-02-19,Ship broker
4,5,60AAc4DcaBcE3b6,Ian,Campos,Female,brownevelyn@example.net,166-126-4390,1997-10-02,Media planner
5,6,7ACb92d81A42fdf,Valerie,Patel,Male,muellerjoel@example.net,001-379-612-1298x853,2021-04-07,"Engineer, materials"
6,7,A00bacC18101d37,Dan,Castillo,Female,billmoody@example.net,(448)494-0852x63243,1975-04-09,Historic buildings inspector/conservation officer
7,8,B012698Cf31cfec,Clinton,Cochran,Male,glenn94@example.org,4425100065,1966-07-19,"Engineer, mining"
8,9,a5bd11BD7dA1a4B,Gabriella,Richard,Female,blane@example.org,352.362.4148x8344,2021-09-02,Wellsite geologist
9,10,9540a6df05eF6cf,James,Bailey,Male,pittmanterrence@example.com,(629)632-4570x1832,1963-05-13,Graphic designer
10,11,f967B4EcdF6B227,Shelby,Norton,Male,acannon@example.net,(164)034-4347x22022,2009-08-19,"Engineer, water"
11,12,326C83BbeC1BCFd,Jennifer,Lara,Female,davilacassidy@example.org,+1-915-351-2636x083,1962-03-29,Product manager
12,13,d9dfB09F01e16EB,Howard,Sanders,Female,brucejoanna@example.org,001-931-852-5157x31682,1912-07-12,Web designer
13,14,1E5b00F6AC95FD8,Stefanie,Dorsey,Female,xcrane@example.net,266-633-2107,1988-04-19,Homeopath
14,15,1cfc2eDd75cfB01,Wyatt,Ali,Male,lawrenceluke@example.org,+1-204-855-1654x3158,1952-04-16,"Scientist, audiological"
15,16,c85FcEDF4D7dCA5,Jasmine,Wheeler,Male,xmontgomery@example.com,044-808-5012x5663,1912-08-13,Manufacturing systems engineer
16,17,AD2Cd35dCaeD2AB,Arthur,Hart,Male,blittle@example.net,712-978-1974x94056,1939-02-16,Race relations officer
17,18,Ca217c22e3fEf2c,Brandy,Shepherd,Female,ralph98@example.com,+1-324-844-1260x27820,1911-08-29,Administrator
18,19,DDFea9C0D3b8Bda,Leon,Todd,Male,zhenderson@example.net,664-084-9864x4425,2011-12-24,Armed forces operational officer
19,20,eeed253bcc5d02F,Stacey,Skinner,Female,paula37@example.com,026-376-9429x6935,1916-10-15,"Psychologist, counselling"

In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Encoding "Sex" as binary values
encoder = LabelEncoder()
df['Sex'] = encoder.fit_transform(df['Sex'])  # Male will be 1, Female will be 0

# One-hot encoding "Job Title"
onehot_encoder = OneHotEncoder(sparse=False)
job_title_encoded = onehot_encoder.fit_transform(df['Job Title'].values.reshape(-1, 1))

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(job_title_encoded, df['Sex'], test_size=0.2, random_state=42)

# Building the model
model = Sequential([
    Dense(64, input_dim=X_train.shape[1], activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

# Training the model
model.fit(X_train, y_train, epochs=100, batch_size=5, verbose=1)

# Evaluating the model
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

C:\Users\jose\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Epoch 1/100
320000/320000 [==============================] - 364s 1ms/step - loss: 0.6932 - accuracy: 0.4995
Epoch 2/100
320000/320000 [==============================] - 420s 1ms/step - loss: 0.6933 - accuracy: 0.5006
Epoch 3/100
211688/320000 [==================>...........] - ETA: 2:05 - loss: 0.6931 - accuracy: 0.4996

KeyboardInterrupt:

In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Dropout
from tensorflow.keras.optimizers import Adam

# Load your data into 'df'

# Encode 'Sex' as a binary variable
sex_encoder = LabelEncoder()
df['Sex'] = sex_encoder.fit_transform(df['Sex'])  # Male will be 1, Female will be 0

# Encode 'Job Title' with integers
job_title_encoder = LabelEncoder()
df['Job Title Encoded'] = job_title_encoder.fit_transform(df['Job Title'])

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(df[['Job Title Encoded']], df['Sex'], test_size=0.2, random_state=42)

# Parameters
input_dim = df['Job Title Encoded'].max() + 1  # Add 1 because index starts from 0
embedding_dim = 50  # You can tune this

# Neural network with an embedding layer
job_title_input = Input(shape=(1,), name='job_title_input')
job_title_embedding = Embedding(input_dim=input_dim, output_dim=embedding_dim, name='job_title_embedding')(job_title_input)
job_title_vec = Flatten(name='flatten_job_titles')(job_title_embedding)

# Hidden layers
hidden = Dense(64, activation='relu')(job_title_vec)
hidden = Dropout(0.4)(hidden)  # Add dropout for regularization
hidden = Dense(32, activation='relu')(hidden)
hidden = Dropout(0.4)(hidden)

# Output layer
output = Dense(1, activation='sigmoid')(hidden)

# Create and compile model
model = Model(inputs=job_title_input, outputs=output)
model.compile(optimizer=Adam(learning_rate=0.01), loss='binary_crossentropy', metrics=['accuracy'])

# Train
model.fit(X_train, y_train, epochs=10, batch_size=256, validation_data=(X_test, y_test), verbose=1)  # Fewer epochs for quicker convergence

# Evaluate
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

Epoch 1/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6933 - accuracy: 0.5001 - val_loss: 0.6932 - val_accuracy: 0.4996
Epoch 2/10
6250/6250 [==============================] - 14s 2ms/step - loss: 0.6932 - accuracy: 0.5009 - val_loss: 0.6933 - val_accuracy: 0.5004
Epoch 3/10
6250/6250 [==============================] - 12s 2ms/step - loss: 0.6932 - accuracy: 0.4990 - val_loss: 0.6933 - val_accuracy: 0.4996
Epoch 4/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.5003 - val_loss: 0.6933 - val_accuracy: 0.5004
Epoch 5/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6933 - accuracy: 0.4999 - val_loss: 0.6932 - val_accuracy: 0.5004
Epoch 6/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.4997 - val_loss: 0.6932 - val_accuracy: 0.4996
Epoch 7/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.5001 - val_loss: 0.6932 - val_accuracy: 0.4996
Epoch 8/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.5000 - val_loss: 0.6932 - val_accuracy: 0.4996
Epoch 9/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.5000 - val_loss: 0.6931 - val_accuracy: 0.5004
Epoch 10/10
6250/6250 [==============================] - 13s 2ms/step - loss: 0.6932 - accuracy: 0.5004 - val_loss: 0.6932 - val_accuracy: 0.4996
Test Loss: 0.6932, Test Accuracy: 0.4996

In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from scipy.sparse import hstack

# Assuming 'df' has been loaded and preprocessed

# Ensure 'Sex' is encoded as an integer
df['Sex'] = LabelEncoder().fit_transform(df['Sex'])

# One-hot encoding 'Job Title' with sparse output and converting 'Age' to sparse
onehot_encoder = OneHotEncoder(sparse=True)
job_title_encoded_sparse = onehot_encoder.fit_transform(df['Job Title'].values.reshape(-1, 1))
age_sparse = scipy.sparse.csr_matrix(df[['Age']])
X_sparse = hstack([job_title_encoded_sparse, age_sparse])

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(X_sparse, df['Sex'], test_size=0.2, random_state=42)

# Generator function to yield batches from sparse matrix
def sparse_to_dense(X_sparse, y, batch_size=100):
    num_samples = X_sparse.shape[0]
    for start_idx in range(0, num_samples, batch_size):
        end_idx = start_idx + batch_size
        batch_x = X_sparse[start_idx:end_idx].toarray()  # Convert sparse batch to dense
        batch_y = y[start_idx:end_idx]
        yield batch_x, batch_y

# Create generators for training and testing
train_gen = sparse_to_dense(X_train, y_train, batch_size=100)
test_gen = sparse_to_dense(X_test, y_test, batch_size=100)

# Define the model
input_dim = X_train.shape[1]
model = Sequential([
    Dense(64, input_dim=input_dim, activation='relu'),
    Dropout(0.5),
    Dense(32, activation='relu'),
    Dropout(0.5),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

# Calculate steps per epoch and validation steps
train_steps = np.ceil(X_train.shape[0] / 100).astype(int)
test_steps = np.ceil(X_test.shape[0] / 100).astype(int)

# Debugging: Inspect the first batch
first_batch_x, first_batch_y = next(train_gen)
print("First batch X shape:", first_batch_x.shape)
print("First batch Y shape:", first_batch_y.shape)
print("First batch Y type:", first_batch_y.dtype)

# Train the model
model.fit(train_gen, steps_per_epoch=train_steps, epochs=10, verbose=1, validation_data=test_gen, validation_steps=test_steps)

# Evaluate the model
loss, accuracy = model.evaluate(test_gen, steps=test_steps)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

C:\Users\jose\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

First batch X shape: (100, 640)
First batch Y shape: (100,)
First batch Y type: int32
Epoch 1/10

InvalidArgumentError: Graph execution error:

Detected at node PyFunc defined at (most recent call last):
<stack traces unavailable>
TypeError: `generator` yielded an element of shape (100,) where an element of shape (None, None) was expected.
Traceback (most recent call last):

  File "C:\Users\jose\anaconda3\Lib\site-packages\tensorflow\python\ops\script_ops.py", line 270, in __call__
    ret = func(*args)
          ^^^^^^^^^^^

  File "C:\Users\jose\anaconda3\Lib\site-packages\tensorflow\python\autograph\impl\api.py", line 643, in wrapper
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^

  File "C:\Users\jose\anaconda3\Lib\site-packages\tensorflow\python\data\ops\from_generator_op.py", line 235, in generator_py_func
    raise TypeError(

TypeError: `generator` yielded an element of shape (100,) where an element of shape (None, None) was expected.


	 [[{{node PyFunc}}]]
	 [[IteratorGetNext]] [Op:__inference_train_function_4994]